@@if (article === 'article') {
<article class="article @@dopClass">
  <a class="article__box" href="@@href">
    <img class="article__box-img" src="@@imgSrc" alt="@@alt" width="@@imgWidth" height="@@imgHeight">
    <span class="article__box-info info-black">
      @@info-text
    </span>
  </a>
  <a class="article__text-link article-text" href="#">
    @@link-text
  </a>
  <time class="article__time article-time" datetime="@@datatime">@@time</time>
</article>
}

@@if (article === 'article-long') {
<article class="article-long @@dopClass">
  <img class="article-long__img" src="@@imgSrc" alt="@@alt" width="@@imgWidth" height="@@imgHeight">
  <div class="article-long__box">
    <span class="article-long__info info-text">
      @@info-text
    </span>
  </div>
  <span class="article-long__num">
    @@nums
  </span>
  <a class="article-long__link article-text" href="@@href">
    @@text
  </a>
</article>
}

@@if (article === 'article-primary') {
<article class="article-primary @@dopClass">
  <img class="article-primary__img" src="@@imgSrc" alt="@@alt" width="@@imgWidth" height="@@imgHeight">
  <div class="article-primary__box">
    <span class="article-primary__info info-text">
      @@info-text
    </span>
  </div>
  <a class="article-primary__link article-text" href="@@href">
    @@text
  </a>
  <time class="article-primary__time article-time" datetime="@@datatime">@@time</time>
</article>
}

@@if (article === 'article-primary--white') {
  <article class="article-primary article-primary--white @@dopClass">
    <div class="article-primary__box">
      <span class="article-primary__info info-black">
        @@info-text
      </span>
    </div>
    <a class="article-primary__link article-text" href="@@href">
      @@text
    </a>
    <time class="article-primary__time article-time" datetime="@@datatime">@@time</time>
  </article>
}

@@if (article === 'article-primary--black') {
  <article class="article-primary article-primary--black @@dopClass">
    <div class="article-primary__box">
      <span class="article-primary__info info-text">
        @@info-text
      </span>
    </div>
    <a class="article-primary__link article-text" href="@@href">
      @@text
    </a>
    <time class="article-primary__time article-time" datetime="@@datatime">@@time</time>
  </article>
}

@@if (article === 'article-pers') {
<article class="article-pers @@dopClass">
  <img class="article-pers__img" src="@@imgSrc" alt="@@alt" width="@@imgWidth" height="@@imgHeight">
  <div class="article-pers__content">
    <a class="article-pers__title" href="@@title-href">
      @@title
    </a>
    <p class="article-pers__text">
      @@text
    </p>
  </div>
  <div class="article-pers__info">
    <a class="article-pers__author" href="@@author-href">
      @@author
    </a>
    <p class="article-pers__pos">
      @@position
    </p>
  </div>
</article>
}

@@if (article === 'article-quotes') {
<article class="article-quotes @@dopClass">
  <a class="article-quotes__link" href="@@href"></a>
  <span class="article-quotes__cap info-black">
    @@info-text
  </span>
  <blockquote class="article-quotes__text">
    @@quotes-text
  </blockquote>
  <div class="article-quotes__info">
    <a class="article-quotes__author-link" href="@@authorHref">
      <img class="article-quotes__author" src="@@imgSrc" alt="@@alt" width="@@imgWidth" height="@@imgHeight">
    </a>
    <span class="article-quotes__name">
      @@author
    </span>
  </div>
</article>
}

@@if (article === 'article-text') {
<article class="article-caption @@dopClass">
  <div class="article-caption__box">
    <span class="article-caption__cap info-black">
      @@info-text
    </span>
  </div>
  <a class="article-caption__link article-title" href="@@titleHref">
    @@titleText
  </a>
  <p class="article-caption__text">
    @@text
  </p>
  <time class="article-caption__time article-time" datetime="@@datatime">@@time</time>
</article>
}

@@if (article === 'article-rating') {
<article class="article-rating @@dopClass">
  <div class="article-rating__box">
    <span class="article-rating__cap info-black">
      @@info-text
    </span>
  </div>
  <a class="article-rating__link" href="@@href">
    <img class="article-rating__img" src="@@imgSrc" alt="@@alt" width="@@imgWidth" height="@@imgHeight">
  </a>
  <span class="article-rating__num article-num">
    @@num
  </span>
  <div class="article-rating__title article-title--second">
    <span class="article-rating__title--accent">
      @@subTitle
    </span>
    @@title
  </div>
</article>
}

@@if (article === 'article-white') {
<article class="article-white @@dopClass">
  <div class="article-white__box">
    <span class="article-white__cap info-text">
      @@info-text
    </span>
  </div>
  <div class="article-white__imgbox">
    <img class="article-white__img" src="@@imgSrc" alt="@@alt" width="@@imgWidth" height="@@imgHeight">
  </div>
  <a class="article-white__link" href="@@href"></a>
  <div class="article-white__title article-title--second">
    @@title
  </div>
</article>
}

@@if (article === 'article-black') {
<article class="article-black @@dopClass">
  <div class="article-black__box">
    <span class="article-black__cap info-black">
      @@info-text
    </span>
  </div>
  <a class="article-black__link" href="@@href"></a>
  <span class="article-black__num article-num">
    @@num
  </span>
  <div class="article-black__title article-title--second">
    @@title
  </div>
</article>
}

@@if (article === 'article-photo') {
<article class="article-photo @@dopClass">
  <div class="article-photo__box">
    <span class="article-photo__cap info-text">
      @@info-text
    </span>
  </div>
  <a class="article-photo__link" href="@@href">
    <img class="article-photo__img" src="@@imgSrc" alt="@@alt" width="@@imgWidth" height="@@imgHeight">
  </a>
  <div class="article-photo__title article-title--second">
    @@title
  </div>
</article>
}