.footer {
  padding: 50px 0 15px;
  background-color: var(--second-color);

  &__logo {
    display: block;
    margin-bottom: 31px;
  }

  &__inner {}

  &__content {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 19px;
    padding-bottom: 12px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(#000, 0.1);
    }
  }

  &__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 -15px;
    margin-right: 49px;
  }

  &__list-item {
    width: 24.333%;
    padding: 0 15px;
    margin-bottom: 8px;
  }

  &__list-link {}

  &__content-info {
    display: flex;
    width: 50%;
  }

  &__content-list {
    display: flex;
    margin-right: 40px;
  }

  &__content-img {
    object-fit: cover;
  }

  &__content-item {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__content-box {}

  &__content-text {
    max-width: 213px;
    margin: 1px 0 23px;
    font-size: 18px;
    line-height: 20px;
    opacity: 1;
    @extend %cerapro-medium;
  }

  &__content-link {}

  &__info {
    display: flex;
    align-items: stretch;
  }

  &__info-item {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    width: 49%;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__info-text {
    margin-bottom: 19px;
  }

  &__info-box {
    flex: 1 1 auto;
  }

  &__link,
  &__copy {
    display: block;
    margin-top: auto;
  }
}

.container {}