.footer {
  padding: 50px 0 13px;
  background-color: var(--second-color);

  &__logo {
    display: block;
    margin-bottom: 31px;
  }

  &__inner {}

  &__content {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 19px;
    padding-bottom: 17px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(#000, 0.1);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 51.3%;
    margin: 0 10px 0 -9px;
  }

  &__list-item {
    margin-bottom: 8px;
    padding: 0 9px;
  }

  &__list-link {
    display: block;
    width: 100%;
  }

  &__content-info {
    display: flex;
  }

  &__content-list {
    display: flex;
    margin-right: 40px;
  }

  &__content-img {
    object-fit: cover;
  }

  &__content-item {
    margin-right: 3px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__content-box {}

  &__content-text {
    max-width: 213px;
    margin: 1px 0 23px;
    font-size: 18px;
    line-height: 20px;
    opacity: 1;
    @extend %cerapro-medium;
  }

  &__content-link {}

  &__info {
    display: flex;
    align-items: stretch;
  }

  &__info-item {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    width: 49%;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__info-text {
    margin-bottom: 20px;
  }

  &__info-box {
    flex: 1 1 auto;
    margin-bottom: 22px;
  }

  &__link {
    color: var(--default-color);
    @extend %cerapro-medium;
  }
}

.container {}