html,
body {
  height: 100%;
}

body {
  color: var(--default-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  @extend %cerapro-regular;
}

p {
  opacity: 0.5;
}

.main {
  flex-grow: 1;
}

.site-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;

  &::before {
    position: absolute;
    display: none;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 100%, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: ease 0.3s opacity;
    z-index: 1;
  }

  &--lock {
    overflow: hidden;

    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.container {
  max-width: 1302px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1408px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  color: var(--default-color);
  font-size: 40px;
  line-height: 54px;

  @extend %cerapro-medium;
}

.link {
  display: block;
  text-align: center;
  border: none;
  max-width: 208px;
  padding: 16px 10px 18px;
  font-size: 20px;
  line-height: 14px;
  @extend %cerapro-medium;
  background-color: var(--default-color);
  color: var(--second-color);
}

.list {
  &__item {}

  &__link {
    color: var(--default-color);
    font-size: 16px;
    line-height: 34px;
    text-transform: uppercase;

    @extend %cerapro-medium;
  }
}

.search-link {
  z-index: 2;

  &__icon {
    width: 20px;
    height: 20px;
    fill: var(--default-color);
  }
}

.logo {
  display: block;
}

.search-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 244, 245, 0.97);
  visibility: hidden;
  opacity: 0;
  transition: ease 0.3s opacity;

  &__logo {
    margin-bottom: 50px;
    pointer-events: auto;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  &__icclose {
    width: 30px;
    height: 30px;
    fill: var(--default-color);
  }

  &__form {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__input {
    width: 80%;
    height: 100px;
    font-size: 30px;
    padding: 0 85px 0 15px;
    @extend %cerapro-bold;

    &::placeholder {
      font-size: 30px;
    }
  }

  &__btn {
    padding: 0;
    background-color: transparent;
    width: 80px;
    border: 0;
    margin-left: -80px;
    cursor: pointer;
  }

  &__icon {
    width: 26px;
    height: 26px;
    fill: var(--accent-color);
  }

  &--active {
    visibility: visible;
    opacity: 1;
    transition: ease 0.3s opacity;
  }
}