:root {
  --default-color: #000;
  --default-rgba: 0, 0, 0;
  --second-rgba: 255, 255, 255;
  --second-color: #fff;
  --accent-color: #ed3237;
  --bg-color: #f4f4f4;
}

%trs-color {
  transition: ease 0.3s color;
}

%text-hover {
  color: var(--accent-color);
  transition: ease 0.3s color;
}

%trs-fill {
  transition: ease 0.3s fill;
}

%icon-hover {
  fill: var(--accent-color);
  transition: ease 0.3s fill;
}

%cerapro-regular {
  font-weight: 400;
  font-family: "CeraPro-Regular", sans-serif;
}

%cerapro-medium {
  font-weight: 500;
  font-family: "CeraPro-Medium", sans-serif;
}

%cerapro-bold {
  font-weight: 700;
  font-family: "CeraPro-Bold", sans-serif;
}

%bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin laptop-L {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin tablet-L {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 630px) {
    @content;
  }
}

@mixin portrait-phones {
  @media (max-width: 530px) {
    @content;
  }
}

@mixin mobile-L {
  @media (max-width: 425px) {
    @content;
  }
}